<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuelidate@0.7.4/dist/validators.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuelidate@0.7.4/dist/vuelidate.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="./asetts/main.css">
</head>

<body>

  <div class="cantact-wrapper">

    <div class="bg_header_visivle"></div>
    <sevtion class="contacat">
      <div class="contacat__title_box">
        <h2 class="u-text__title--big">お問い合わせ</h2>
        <h3>contact</h3>
      </div>
    </sevtion>

    <section class="contact_form">

      <div id="app" class="form">

        <div class="form-group">
          <label for="names">
            <p>お名前<span>*</span></p>
          </label>
          <input type="names" :class="status($v.names)" id="names" v-model="$v.names.$model" placeholder="山田　太郎">

          <span class="err_msg" v-if="!$v.names.required">名前が入力されていません。</span>
        </div>

        <div class="form-group">
          <label for="company">会社名:</label>
          <input type="company" class="fron_item" id="company" v-model="company">
        </div>

        <div class="form-group">
          <label for="mail">
            <p>メールアドレス<span>*</span></p>
          </label>
          <input type="mail" :class="status($v.mail)" id="mail" v-model="$v.mail.$model"
            placeholder="example@email.com">
          <span class="err_msg" v-if="!$v.mail.required">メールアドレスを入力してください</span>
          <span class="err_msg" v-if="!$v.mail.email">正しいメールアドレスを入力してください</span>
        </div>

        <div class="form-group">
          <label for="content">
            <p>お問い合わせ内容<span>*</span></p>
          </label>
          <textarea type="text" :class="status($v.text)" id="content" v-model="$v.text.$model"
            placeholder="お問い合わせ内容を入力してください。"></textarea> <span class="err_msg"
            v-if="!$v.text.required">お問い合わせ内容を入力してください。</span>
        </div>
        <div class="btn-box--sussed">
          <button class="confirm_btn" :disabled="$v.$invalid" type="button" @click="isModalVisible = true">
            送信内容を確認する
          </button>
        </div>
        <div :class="{ active:isModalVisible }" class="modal-overlay">
          <div class="modal">
            <div class="st-modal" :class="{ active: isModalVisible }">

              <h3>問い合わせ内容の確認</h3>
              <table>
                <tbody>
                  <tr>
                    <td>お名前</td>
                    <td>{{names}}</td>
                  </tr>
                  <tr>
                    <td>会社名</td>
                    <td>{{company}}</td>
                  </tr>
                  <tr>
                    <td>メールアドレス</td>
                    <td>{{mail}}</td>
                  </tr>
                  <tr>
                    <td>お問い合わせ内容</td>
                    <td>{{text}}</td>
                  </tr>
                </tbody>
              </table>

              <div class="btn-box--sussed">
                <button class="confirm_btn--outline sussed" 　type="button" @click="isModalVisible = false">
                  戻る
                </button>
                <button class="confirm_btn sussed"
                  v-on:click="post(); isModalVisible = false; isResultModalVisible = true"
                  :disabled="$v.$invalid">送信する</button>
              </div>
            </div>
          </div>
        </div>

        <div :class="{ active:isResultModalVisible }" class="modal-overlay">
          <div class="st-modal" :class="{ active: isResultModalVisible }">
            <div>
              <p>送信中（少々お待ち下さい）</p>
              <p v-text="result"></p>
            </div>
            <div class="btn-box--sussed">
              <button class="confirm_btn--outline sussed" @click="isResultModalVisible = false">
                戻る
              </button>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>



    <script>
      Vue.use(window.vuelidate.default);
      const {
        required,
        email
      } = window.validators;
    </script>
    <script>
      Vue.config.devtools = true
      const app = new Vue({
        el: '#app',
        data: {
          names: null,
          company: null,
          mail: null,
          text: null,
          isActive: false,
          isModalVisible: false, // モーダル
          isResultModalVisible: false, // モーダル
          csrf: null,

          url: "/contact_mail", //v-model="url"の初期値
          result: "" //v-model="result"の初期値
        },
        methods: {
          post: function () {


            let params = new URLSearchParams();
            params.append('names', this.names);
            params.append('company', this.company);
            params.append('mail', this.mail);
            params.append('text', this.text);


            axios.post(this.url, params)
              .then(function (res) {
                app.result = res.data;
                console.log(res)
              })
              .catch(function (res) {
                app.result = "メールを送信できませんでした。ページをもう一度読み込んで試してください。";
                console.log(res)
              })
          },
          status(validation) {
            return {
              dirty: validation.$dirty,
              error: validation.$error
            }
          }
        },
        validations: {
          names: {
            required
          },
          mail: {
            required,
            email
          },
          text: {
            required
          }
        }
      })
    </script>

    <script>
      console.log('GitHub Pages Sample');
    </script>

</body>

</html>