.cantact-wrapper {
    .bg_header_visivle {
      padding-top: 84px;
    }
  
    .contacat {
      padding-top: 70px;
  
      &__title_box {
        text-align: center;
  
        h3 {
          display: flex;
          margin: 0 auto;
          color: green;
          font-size: 16px;
  
          align-items: center;
          max-width: 165px;
  

  
          &:before {
            margin-right: 7px;
          }
  
          &:after {
            margin-left: 7px;
          }
  
          &:after,
          &:before {
            display: block;
            height: 2px;
            content: "";
  
  /* 線幅の半分 */
            content: "";
  
            flex-grow: 1;
            background-color: green;
  
  /* 線色 */
            border-radius: 5px;
  
            /* 線幅 */
          }
        }
      }
    }
  
    .contact_form {
      margin: 0 auto;
  
      max-width: 640px;

  
      span {
        display: block;
      }
  
      .form {
        padding: 0 20px;
  
        margin-bottom: 50px;
        .form-group {
          margin-bottom: 25px;
          p {
            display: flex;
  
            padding-bottom: 5px;
          }
          input,
          textarea {
            width: 100%;
            border: solid 1px #e2e2e3;
  
            white-space: pre-wrap;
            padding-left: .5rem;
            padding-top: 5px;
            padding-bottom: 3px;
            background-color: white;
          }
          textarea {
            height: 100px;
          }
          .err_msg {
            color: red;
            font-size: 14px;
  
            margin-top: 6px;
          }
          span {
            color: red;
  
            padding-left: 3px;
          }
  
          .dirty {
            border: solid 1px blue;
          }
          .error {
            border-color: red;
          }
        }
  
        .modal {
          width: 100%;
          margin: 0 30px;
        }
        .st-modal {
          position: fixed;
          width: 720px;
          margin: 0 auto;
          padding: 20px;
          top: 120px;
          left: 0;
          right: 0;
  
          max-width: 95%;
          box-shadow: 0 0 6px rgba(0, 0, 0, .16);
          transition: opacity .4s;
          visibility: hidden;
          overflow: hidden;
          opacity: 0;
          h3 {
            font-size: 20px;
            text-align: center;
  
            font-family: inherit;
            font-weight: bold;
            margin-bottom: 70px;
          }
        }
        .st-modal.active {
          visibility: visible;
          overflow: initial;
          background-color: #efefef;
          transition: opacity .4s;
          opacity: 1;
        }
  
  
  
        .modal-overlay {
          opacity: 0;
          transition: opacity .4s;
          visibility: hidden;
        }
  
        .modal-overlay.active {
          background: rgba(0, 0, 0, .5);
          display: flex;
          position: fixed;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
  
          visibility: visible;
          align-items: center;
          justify-content: center;
          z-index: 100;
          opacity: 1;
          transition: opacity .4s;
        }
      }
    }
  }
  table {
    width: 100%;
  
    margin-bottom: 15px;
    tbody {
      tr {
        border-bottom: solid 1px gray;
        td {
          padding-top: 12px;
          padding-right: 2px;
          padding-left: 2px;
          padding-bottom: 2px;
          white-space: pre-wrap;
          word-break: break-all;
        }
        td:nth-child(1) {
          min-width: 9rem;
        }
      }
    }
  }     
  .btn-box--sussed {
    text-align: right;
    .confirm_btn {
      padding: 10px 35px;
      color: white;
  
      box-shadow: 0 2px 3px #00000040;
      border-radius: 3px;
      background-color: blue;
    }
    .confirm_btn:hover {
      background-color: darken(blue, 10%);
    }
    .confirm_btn[disabled] {
      background-color: red ;
    }
    .confirm_btn--outline {
      padding: 10px 35px;
      border: solid 1px blue;
      color: blue;
  
      box-shadow: 0 2px 3px #00000040;
      border-radius: 3px;
      background-color: white;
    }
    .confirm_btn--outline:hover {
      background-color: darken(white, 10%);
    }
    .sussed {
      width: 120px;
      padding: 10px 0;
      text-align: center;
    }
  }